:root {
    --color-orang: #ffa728;
    --color-red: #e66c6e;
    --color-green: #a7d6bb;
    --color-blue: #1c4961;
}
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Color New", Courier, monospace;
    font-size: 16px;
    line-height: 1.2;
    background-color: #faabd7;
}

.header {
    padding: 20px 0;
    margin-bottom: 50px;
}
.filter {
    display: flex;
    justify-content: center;
    min-width: 1024px;
    margin: 0 auto;
}
.button {
    padding: 12px 24px;
    margin-right: 18px;
    cursor: pointer;
    color: azure;
    text-transform: uppercase;
    font-weight: bold;
    border: 0;
    outline: none;
    border-radius: 5px;
}
.button:last-child {
    margin-right: 0;
}
.button:active {
    opacity: 0.5;
}

.button_type_all {
    background-color: var(--color-orang);
}
.button_type_dog {
    background-color: var(--color-green);
}
.button_type_cat {
    background-color: var(--color-red);
}
.button_type_bird {
    background-color: var(--color-blue);
}
.container {
    display: flex;
    flex-wrap: wrap;
    min-width: 1024px;
    margin: 0 auto;
}

.card {
    width: calc(33.3333% - 72px);
    margin: 36px;
    height: 200px;
    line-height: 200px;
    text-align: center;
    color: azure;
    font-size: 48px;
    overflow: hidden;
    transition: 0.5s;
    border-radius: 5px;
}

.cat {
    background-color: var(--color-red);
}
.dog {
    background-color: var(--color-green);
}
.bird {
    background-color: var(--color-blue);
}
.hide {
    display: none;
}
